<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1047272783181-q27o3ob3snd6berd3l3vq3p9erbmuc96.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1047272783181-q27o3ob3snd6berd3l3vq3p9erbmuc96</string>
	<key>API_KEY</key>
	<string>AIzaSyD_YSWmC4CiyYrLqghf3iuTaOziMbAEFLo</string>
	<key>GCM_SENDER_ID</key>
	<string>1047272783181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobile</string>
	<key>PROJECT_ID</key>
	<string>onlycoders-cc609</string>
	<key>STORAGE_BUCKET</key>
	<string>onlycoders-cc609.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047272783181:ios:cae40348a25a2839bfcb04</string>
	<key>DATABASE_URL</key>
	<string>https://onlycoders-cc609-default-rtdb.firebaseio.com</string>
</dict>
</plist>